@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

* {
  font-family: "Roboto Slab", serif;
  margin: 0;
  padding: 0;
  background-color: #090909;
}

button {
  cursor: pointer;
}

.wrapper {
  max-width: 1366px;
  box-sizing: border-box;
  margin: 0 auto;
}

.login {
  width: 100vw;
  text-align: center;
}

.login_2 {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_rectangle_h1 {
  font-size: 40px;
  font-weight: 500;
  color: white;
  margin-bottom: 50px;
}

.login_rectangle {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  max-width: 546px;
  border: 1px solid #E8B7FF;
  border-radius: 20px;
  padding: 60px;
  text-align: center;
}

input {
  color: #E6E6E6;
  background: transparent;
  border: none;
  border-bottom: 1px solid #E8B7FF;
  margin-bottom: 50px;
  padding-left: 15px;
  padding-bottom: 5px;
}

input {outline:none;}


input::placeholder {
  color: #E6E6E6;
  font-size: 16px;
  font-weight: 200;
}

.login_btn {
  background-color: #E8B7FF;
  padding: 17px 26px;
  width: fit-content;
  color: #090909;
  font-size: 18px;
  font-weight: 400;
  border-radius: 15px;
  margin-bottom: 25px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.login_p {
  color: #E6E6E6;
  font-size: 14px;
  font-weight: 200;
}

.login_p a {
  color: #E8B7FF;
}

.profile_2 {
  display: flex;
  gap: 63px;
}

.my_data_h1 {
  color: #E6E6E6;
  font-size: 40px;
  font-weight: 500;
}

.my_data_rectangle {
  width: 652px;
  border: 1px solid #E8B7FF;
  border-radius: 20px;
  padding: 60px;
}

.hr_line {
  border-bottom: 1px solid #E8B7FF;
}